<%- include header %>

<main>

	<div class="my-profile" uk-grid>

		<div class="uk-card uk-card-default uk-card-body uk-width-expand">
			<h3 class="uk-card-title uk-margin-remove-bottom">About</h3>
			<p>
				Oursite is: Balabol
			</p>
		</div>

		<%- include sider %>

</main>

<%- include footer %>