<%- include header %>

	<main>
		<script>
		/** init */
		var exacPostsLen = <%- JSON.stringify(exacPostsLen) %>;
		</script>
		<div uk-grid>
			<div id="News" class="uk-width-expand">
				
			</div>

			<%- include sider %>

		</div>

	</main>

	<script src="/javascripts/js-news.js"></script>

<%- include footer %>