<div class="uk-visible@m uk-width-1-4">
	<div uk-sticky="offset: 60" class="uk-sticky uk-active uk-sticky-fixed uk-sticky-below">
		<div class="curr uk-card uk-card-default uk-card-large uk-card-body">
			<h3 class="uk-card-title">Валюты</h3>
			<ul>
				<li><b>USD: </b><span id="USD">Lodading...</span></li>
				<li><b>EUR: </b><span id="EUR">Lodading...</span></li>
				<li><b>UAH: </b><span id="UAH">Lodading...</span></li>
				<li><b>JPY: </b><span id="JPY">Lodading...</span></li>
				<hr class="uk-nav-divider uk-margin">
				<li><b>BTC: </b><span id="BTC">Lodading...</span></li>
				<li><b>ETH: </b><span id="ETH">Lodading...</span></li>
				<li><b>XMR: </b><span id="XMR">Lodading...</span></li>
				<li><b>ADA: </b><span id="ADA">Lodading...</span></li>
			</ul>
		</div>
	</div>
</div>